
/* 
color palette 
#393E41
#D3D0CB
#E7E5DF
#E9DF79
*/

body {
    background-color: black;
    font-family: itc-avant-garde-gothic-pro,sans-serif;
    padding: 0;
    margin: 0;
    color: white;
}

a {
    text-decoration: none;
    color: white;
}
.container {
    width: 100%;
    height: 10000px;
}
.header {

    width: 100%;
    height: 125px;
    color: white;
    line-height: 125px;
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: row;
    gap: 3vh;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    
    
}

.header img {
    height: 12vh;
    margin-left: 2rem;
    margin-top: 65px;
    
}

.header-links {
    line-height: 50px;
    display: flex;
    gap: 30px;
    margin-right: 50px;
    font-size: 18px;
    transition: all 0.5s;
    font-weight: normal;
    list-style-type: none;
    height: 50px;
    

}

.team-logo {
    flex: 1;
    flex-basis: 0;
}

.team-name {
    font-weight: bold;
    font-style: italic;
    font-size: 5vh;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

li {
    font-weight: normal;

    transition: all 0.5s ease;

}
li:hover {
    transition: all 0.5s ease;
    font-weight: bold;
    font-size: 20px;
}

.toggle-button {
    position: absolute;
    line-height: 50px;
    right: 2rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
    
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
}

@media only screen and (max-width: 600px) {
    .toggle-button {
        display: flex;
    }
    .header-links {
         display: none;
        flex-direction: column;
        margin-top: 80px;
        text-align: right;
        margin-right: 2rem;
    }

    .header-links.active {
        display: flex;
    }
   
}
@media only screen and (max-width: 768px) {
    .toggle-button {
        display: flex;
        
    }
    .header-links {
         display: none;
        flex-direction: column;
        margin-top: 100px;
        text-align: right;
        margin-right: 2rem;
    }

    .header-links.active {
        display: flex;
    }
  
}

@media only screen 
  and (min-width: 1024px) 
  and (max-height: 1366px) 
  and (-webkit-min-device-pixel-ratio: 1.5) {
    .toggle-button {
        display: flex;
    }
    .header-links {
        display: none;
       flex-direction: column;
       margin-top: 100px;
       text-align: right;
       margin-right: 2rem;
    }

    .header-links.active {
        display: flex;
    }
   
}

.intro img {
    width: 100%;
    height: auto;
}

.heysoul-title {
    margin-top: 20px;
    font-size: 30px;
    color: #E9DF79;
}

.heysoul-text {
    margin-top: 20px;
}
.heysoul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

.heysoul img {
    height: auto;
    width: 25%;
}

.intro-card {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.intro-title {
    font-size: 30px;
    color: #E9DF79;
    font-style: italic;
    font-weight: bold;
    text-shadow: 3px 6px #393E41;
}

.title-text {
    margin-top: 10px;
    margin: 5px auto;
    font-style: italic;
    width: 70%;
    justify-content: center;
    text-align: center;
    color: #D3D0CB;
    font-family: 'Helvetica';
    cursor:default;
}

.socials img {
    height: 50px;
    width: auto;
    
}

.socials {
position: fixed;
  z-index: 1;
  top: 33%;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;
  border-radius: 10px;
  padding: 2px;

}